





  <div class="container">
		
		<div class="row">
			<div class="span3">
				<img src="http://en.gravatar.com/avatar/d43ddaef169128b586e5ad60837990c1?s=20&amp;d=mm&s=160" alt="" border="0" align="absmiddle" style="height: 160px;width: 160px;background-color: #eee;">
				<p class="legend">I live in <a href="http://goo.gl/maps/pBehs">Bargo, NSW</a>.
			</div>
			<div class="span9">
				<h2>My name is <span class="highlight">Rhys Williams</span> - <span class="highlight">I do some work as a Ruby on Rails/PHP Dev</span>.
				</h2>
				<div class="span3 pad_top">
					<h3>Contact</h3>
					<table>
						<tr>
							<td>Phone</td>
							<td><a href="tel:0404123300">0404 123 300</a></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><a href="mailto:rrrhys@gmail.com">rrrhys@gmail.com</a></td>
						</tr>
						<tr>
							<td>Twitter</td>
							<td><a href="https://twitter.com/rrrhys">@rrrhys</a></td>
						</tr>
						<tr>
							<td>Github</td>
							<td><a href="https://github.com/rrrhys/">rrrhys</a>
						</tr>
					</table>
				</div>
				<div class="span5 pad_top">
					<h3>
						Side Projects:
					</h3>
					<ul>
						<li><a href="http://www.shopous.com.au">Shopous</a> - hosted online store creator <a href="https://github.com/rrrhys/Sh_Provisioning">on Github</a></li> 
						<li><a href="http://backup.rrrhys.com">Backup Project</a> - A managed backup platform, including client application and server side tools</li> 
						<!-- <li><a href="http://www.invitestack.com">Invite Stack</a> - personalised invitation maker (<a href="http://v2.invitestack.com">V2</a>)</li> -->
						<li><a href="https://github.com/rrrhys/planes_javascript">Javascript plane manager</a> - a small clone of 'Tiny Planes' iOS game</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row pad_top">
			<div class="span12">
				<h3>If you'd like to get in touch...</h3>
				<table>
					<tr>
						<td>Phone</td>
						<td><a href="tel:0404123300">0404 123 300</a></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><a href="mailto:rrrhys@gmail.com">rrrhys@gmail.com</a></td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td><a href="https://twitter.com/rrrhys">@rrrhys</a></td>
					</tr>
					<tr>
						<td>Github</td>
						<td><a href="https://github.com/rrrhys/">rrrhys</a>
					</tr>
				</table>
				<!--<p>Feel free to forward my details on to those who may be interested.</p>-->
			</div>
		</div>
      <div class="row pad_top">
        <div class="span12">
          <h3>Blog Posts</h3>
            <% if @posts.count > 0 %>
              <%= render "layouts/relevant_posts" %>
            <% end %>
        </div>
      </div>

	</div>
  
