





  <div class="container">
		
		<div class="row">
			<div class="span3">
				<img src="http://en.gravatar.com/avatar/d43ddaef169128b586e5ad60837990c1?s=20&amp;d=mm&s=160" alt="" border="0" align="absmiddle" style="height: 160px;width: 160px;background-color: #eee;">
				<p class="legend">I live in <a href="http://goo.gl/maps/pBehs">Bargo, NSW</a>.
			</div>
			<div class="span9">
				<h2>My name is <span class="highlight">Rhys Williams</span> - <span class="highlight">I'm looking for contract work as a Rails dev</a>.
				<small>Not available until July</small></h2>
				<div class="span3 pad_top">
					<h3>Contact</h3>
					<table>
						<tr>
							<td>Phone</td>
							<td><a href="tel:0404123300">0404 123 300</a></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><a href="mailto:rrrhys@gmail.com">rrrhys@gmail.com</a></td>
						</tr>
						<tr>
							<td>Twitter</td>
							<td><a href="https://twitter.com/rrrhys">@rrrhys</a></td>
						</tr>
						<tr>
							<td>Github</td>
							<td><a href="https://github.com/rrrhys/">rrrhys</a>
						</tr>
					</table>
				</div>
				<div class="span5 pad_top">
					<h3>
						Side Projects:
					</h3>
					<ul>
						<li><a href="http://www.shopous.com.au">Shopous</a> - hosted online store creator <a href="https://github.com/rrrhys/Sh_Provisioning">on Github</a></li> 
						<!-- <li><a href="http://www.invitestack.com">Invite Stack</a> - personalised invitation maker (<a href="http://v2.invitestack.com">V2</a>)</li> -->
						<li><a href="https://github.com/rrrhys/planes_javascript">Javascript plane manager</a> - a small clone of 'Tiny Planes' iOS game</li>
					</ul>
				</div>
			</div>
		</div>
<!--		<div class="row pad_top">
			<div class="span4">
				<h3>Back-end</h3>
                <p>I'm a keen student of Ruby on Rails and working my way up to starting a nice big side project.</p>
				<p>I've created 5 or 6 projects in PHP/CodeIgniter to build up my skills and I'm pretty proud of them.</p>
			</div>
			<div class="span4">
				<h3>Front-end</h3>
				<p>I'm not awesome at design... I know my way around CSS and use Bootstrap a lot.</p>
				<p>I can chop together layouts in HTML.</p>
				<p>I use Javascript, and I tend to use jQuery where it's practical (AJAX for example).</p>
			</div>
			<div class="span4">
				<h3>Bits and Pieces</h3>
				<p>I like when I'm stuck and only have one shot at getting something right.</p>
				<p>I'll write tests and documentation when the project allows it, and will put my head down and 'get it done' when it needs to be.</p>
			    <p>Like any other developer, I love greenfield work but more than happy to dig into an old problem and get debugging.</p>
    		    
			</div>
		</div>

		<div class="row pad_top">
			<div class="span12">
				<h3>Previous Work experience</h3>
				<p>I currently work full time as a C#, MySQL developer and manager of a team in Sydney.</p>
				<p>I've worked there for 5 years and have moved up from a junior role.</p>
				<p>I've 'shipped' many projects internally and for customers which are used reliably in production, including automated reporting, trigger based file processing, one-click processing of millions of records at a time, and database-driven interfaces for users (in C#, PHP, Access).</p>
			</div>
		</div>
		<div class="row pad_top">
			<div class="span12">
				<h3>Will I be a good fit</h3>
				<p>I'm looking for a role which involves different types of development. </p>
				<p>I can set up a server with apache etc and have some experience using/deploying/maintaining Amazon Web Services instances.</p>
				<p>I want to come in and work really hard all day and then go home and spend time with my family.</p>
				<p>I like to read up and know about new technologies and understand them, but I'm happy to code away in the old reliable stuff.</p>
				<p>I study web development and work on my side projects during my commute to work. So if I have to come up to speed with your systems and processes, I have heaps of time!</p>
			</div>
		</div>-->
		<div class="row pad_top">
			<div class="span12">
				<h3>If you'd like to get in touch...</h3>
				<table>
					<tr>
						<td>Phone</td>
						<td><a href="tel:0404123300">0404 123 300</a></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><a href="mailto:rrrhys@gmail.com">rrrhys@gmail.com</a></td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td><a href="https://twitter.com/rrrhys">@rrrhys</a></td>
					</tr>
					<tr>
						<td>Github</td>
						<td><a href="https://github.com/rrrhys/">rrrhys</a>
					</tr>
				</table>
				<!--<p>Feel free to forward my details on to those who may be interested.</p>-->
			</div>
		</div>
      <div class="row pad_top">
        <div class="span12">
          <h3>Blog Posts</h3>
            <% if @posts.count > 0 %>
              <%= render "layouts/relevant_posts" %>
            <% end %>
        </div>
      </div>

	</div>
  
