<h1><%= @post.title %></h1>
<br>
<% 
#TODO: Put this in a helper when I'm a bit better 
    markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
    :autolink => true, :space_after_headers => true)%>
<%= markdown.render(@post.content).html_safe %>  
<%= link_to "Edit Post", :edit_post %>